/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda+One&display=swap');
/* Fin fuentes */

/* Globales */
:root {
    /* Tipografías */
    --fuentePrimaria: 'Merienda One', cursive;
    --fuenteSecundaria: 'Kaushan Script', cursive;
    /* Colores */
    --colorEnlace: #996600;
    --colorEnlaceVisitado: #9933ff;
    --colorEnlaceHover: #FF00FF;
    --colorEnlaceActivo: #0000FF;
    --colorNavFooter: #ffe6f2b3;
    --colorBloqueIndice: #d4d4f5b3;
    --colorBloquePoemas: #e6e6e6b3;
    --colorTitulo: #33334D;
    --colorH2: #336699;
    --colorParrafo: #cc7a00;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 62.5%; /* 10px = 1rem */
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    margin: 0;
    background-image: url("../imagenes/pared-1.jpg");
}

.container-body {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4.6875rem);
}

a {
    text-decoration: none;   
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border-radius: .8rem;
    max-width: 100%;
    height: auto;  
}
/* Fin globales */

/* Botón para subir */
#btnSubir {
    display: none; 
    position: fixed; 
    bottom: .2rem; 
    right: .2rem; 
    z-index: 99; 
    opacity: 0.6;
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: .625rem; 
    border-radius: .3125rem; 
    width: 6.2rem; 
} 

@media (min-width:480px) {
    #btnSubir {
        width: 6.6rem;
    }
}

@media (min-width:768px) {
    #btnSubir {
        width: 7rem;
    }
}

@media (min-width: 1200px) {
    #btnSubir {
        width: 7.5rem;
    }

    #btnSubir:hover {
        opacity: 0.8;
    }
}
/* Fin botón subir */

/* Enlaces */
/* Enlace sin visitar */
a:link {
    color: var(--colorEnlace);
}

/* Enlace visitado */
a:visited {
    color: var(--colorEnlaceVisitado);
}
  
/* Puntero sobre el enlace */
a:hover {
    color: var(--colorEnlaceHover);
}

/* Enlace seleccionado */
a:active {
    color: var(--colorEnlaceActivo);
}
/* Fin enlaces */

/* Encabezado y footer */
.navFooter {
    width: 100%;
    height: 7.5rem;   
    background: var(--colorNavFooter);
    text-align: center;
    border-radius: .8rem;  
}

.title {
    font-family: var(--fuenteSecundaria);
    font-size: 3.6rem; 
    color: var(--colorTitulo);
    margin: 0;
}

.containerTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;     
}
/* Fin encabezado y footer */

/* Contenedores principales */
.containerIndice, .containerPoemas, .containerImagenes, .containerAcerca {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: .8rem;
    padding: 2.5rem; 
    margin: 2rem 0;  
    background: var(--colorBloqueIndice);
    font-family: var(--fuentePrimaria);
    width: 100%;
}

.containerPoemas, .containerImagenes, .containerAcerca {
    background: var(--colorBloquePoemas);
}

.containerAcerca img {
    margin-top: 1.8rem;
}

article p:first-child {
    margin-top: 0;
}

h2 {
    font-size: 2.4rem; 
    margin: 0 0 1rem;
    color: var(--colorH2);
}

li, p {
    font-size: 1.8rem; 
}

p {
    color: var(--colorParrafo);   
}
/* Fin contenedores principales */

/* Media queries */
@media (min-width: 480px) {
    .title {
        font-size: 4.4rem;
    }

    li, p {
        font-size: 2rem; 
    } 
    
    h2 {
        font-size: 2.5rem; 
    }

    .navFooter {
        height: 8rem;
    }
}

@media (min-width: 600px) {
    .container-body {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 5.2rem;
    }

    .navFooter {
        height: 8.3rem;
    }

    .containerIndice { 
        max-width: 40%;
        margin-right: 15%;   
    }

    li, p {
        font-size: 2.2rem; 
    } 
    
    h2 {
        font-size: 2.7rem; 
    }

    .navFooter {
        height: 9rem;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 6rem;
    }

    .navFooter {
        height: 10rem;
    }

    .container-body {
        width: 80%;
    }

    li, p {
        font-size: 2.3rem; 
    } 
    
    h2 {
        font-size: 2.9rem; 
    }
}
/* Fin media queries */
/* Fin estilos */